{% extends 'main/index.html' %}

{% block content %}
  <div class="passwords">
  {% if count > 0 %}
    {% for pass in password_list %}
      <div class="pass-item">
        <p class="i">Account:</p><p class="value"> {{pass.account_name}}</p>
        <p class="i">Date:</p><p><small> {{pass.date}}</small></p>
        <p class="i">Password:</p><p class="value"> {{pass.password_value}}</p>

        <a href="/{{pass.id}}/delete">Delete</a>
      </div>
    {% endfor %}
  {% else %}
    <div class="pass-item">
      <p class="value">You have no saved password!<p>
    </div>
  {% endif %}
  </div>
{% endblock %}
